[user]
	name = Erik Schwartz
	email = erik@erikschwartz.net
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[log]
    date = local
[alias]
    co      = checkout
    vimdiff = difftool -y --tool=vimdiff -U99999 --patience
    un      = log --branches --not --remotes --graph
    d       = diff
    dc      = diff --cached
    br      = branch
    st      = status
    ap      = add -p
    cm      = commit
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
